<!DOCTYPE html>
<html lang="en">


    <%- include('./partials/head') %>

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

<!-- res.render('detallePost', { idPosteo: idPost, listaUsuarios: result.posteoUsuario, listaPosteos:result, usuarioLogueado: true})-->
    <main>
        <div class="post-detail container">
            <section class="center main-content post">
                <div class="info-usuario info-usuario-detalles">
                    <div class="info-usuario-perfil">
                        <img class = "profile" src="<%= listaUsuarios.fotoPerfil %>" alt="Foto de perfil del usuario"> 
                    
                        <h2>
                            <a href="/users/detalleUsuario/id/<%= listaUsuarios.id%>"><%=listaUsuarios.nombre%></a>
                        </h2>
                    </div>
                    <div class="info-usuario-iconos">
                        <% if (locals.user != undefined) { %>
                            <% if (locals.user.id == listaUsuarios.id) { %>
                                <form action="/posts/deletePost/id/<%= listaPosteos.id %>" class="comment-form" method="GET"> <!--FALTA AGREGAR ESTILO ACA-->
                                    <button type="submit"><i class="fa-solid fa-trash botones-info-usuario"></i></button>
                                </form>
                                <form action="/posts/updatePost/id/<%= listaPosteos.id %>" class="comment-form" method="GET"> <!--FALTA AGREGAR ESTILO ACA-->
                                    <button type="submit"><i class="fa-solid fa-pen-to-square botones-info-usuario"></i></button>
                                </form>
                            <% } %>
                        <% } else { %>
                                    
                        <% } %> 
                    </div>
                </div>
                <img class="photo" src="<%= listaPosteos.nombreImg%>" alt="Foto del posteo">
                
                <!--Iconos like y comment-->
                <ul class="post-reacciones">
                    <li>
                        <i class="fa-regular fa-heart"></i>
                    </li>
                    <li>
                        <i class="fa-regular fa-comment"></i>
                    </li>
                </ul>

                <!--Descripcion del post-->
                <div class="post-comentarios">
                    <!--Descripcion del post-->
                    <ul>
                        <li><a href="/users/detalleUsuario/id/<%= listaUsuarios.id %>"><%= listaUsuarios.nombre %></a> 
                               <span><%= listaPosteos.descripcionImg %></span>
                        </li>
                    </ul>  
                </div>

            </section>

            <section class="right">
                <h4>Comentarios</h4>
                <section class="comments">
<!--PREGUNTAR EL FORM-->
                    <form action="" class="comment-form" method="">
                        <input type="text" class="input" placeholder="Agregar comentario">
                        <button type="submit">Comentar</button>
                     </form>
                     
                    <div>
                        <% for( let i=0; i < listaPosteos.posteoComentario.length; i++ ) { %>
                            <article class="comment">
                                <img class= "profile" src="<%= listaPosteos.posteoComentario[i].comentarioUsuario.fotoPerfil %>" alt="<%= listaPosteos.posteoComentario[i].comentarioUsuario.nombre %>">
                                <section class="content">
                                    <a class="user" href="/users/detalleUsuario/id/<%= listaPosteos.posteoComentario[i].comentarioUsuario.id %>">
                                        <p><%= listaPosteos.posteoComentario[i].comentarioUsuario.nombre%></p>
                                    </a>
                                    <span class="text"><%= listaPosteos.posteoComentario[i].comentario%></span>
                                </section>
                            </article>
                            <% } %>
                    </div>
                </section>
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>