<!DOCTYPE html>
<html lang="en">


    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <main>
        <div class="post-detail container">
            <% for( let i = 0; i < listaPosteos.length; i++ ) { %>
                <% if (i+1 == idPosteo) { %>
                    <section class="center main-content post">
                        <div class="info-usuario">
                            <img class = "profile" src="<%= listaPosteos[i].fotoPerfil %>" alt=""> 
                            
                            <p><a href="/users/detalleUsuario/id/<%= listaPosteos[i].idUsuario%>"><%=listaPosteos[i].nombreUsuarioPost%></a></p>
                        </div>
                        <img class="photo" src="<%= listaPosteos[i].nombreImg %>" alt="">
                    </section>

                    <section class="right">
                        <h4>Comentarios</h4>
                        <section class="comments">
                            <form action="" class="comment-form">
                                <input type="text" class="input" placeholder="Agregar comentario">
                                <button type="submit">Comentar</button>
                            </form>
                            <div>
                                <% for( let index=0; index < listaPosteos[i].comentarios.length; index++ ) { %>
                                    <article class="comment">
                                        <img class= "profile" src="<%= listaPosteos[i].comentarios[index].fotoPerfil %>" alt="<%= listaPosteos[i].comentarios[index].nombre %>">
                                        <section class="content">
                                            <a class="user" href="/users/detalleUsuario/id/<%= listaPosteos[i].comentarios[index].idUsuario %>">
                                                <p><%= listaPosteos[i].comentarios[index].nombre%></p>
                                            </a>
                                            <span class="text"><%= listaPosteos[i].comentarios[index].comentario%></span>
                                        </section>
                                    </article>
                                    <% } %>
        
                            </div>
                        </section>
                    </section>
                <% } %>
            <% } %>
           
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>