<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

<!--LA VALIDACION DE ID ESTA EN CONTROLLES ESTA BIEN? EN POSTEOS HICE AL REVES, PERO ES LO MISMO?-->
    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <% for( let i = 0; i < listaAboutUsuario.length; i++ ) { %> 
                    <img class="profile" src="<%= listaAboutUsuario[i].fotoPerfil %>" alt="<%= listaAboutUsuario[i].nombre %>">
                    <div class="info-usuario">
                        <h1><%=listaAboutUsuario[i].nombre %></h1> 
                        <a class="follow" href="">seguir</a>
                        <ul class="meta"> <!--COMO HAGO PARA QUE CAMBIE-->
                            <li><%= listaPosteos.length %> posts</li>
                            <li>200 seguidores</li>
                            <li>300 seguidos</li>
                        </ul>
                    </div>
                <% } %>
            </section>
            <section class="bottom">
                <% for (let j = 0; j < listaPosteos.length; j++) { %>
                    <article class="post">
                        <a href="/posts/detallePost/id/<%=listaPosteos[j].id %>">
                            <img src="<%=listaPosteos[j].nombreImg%>" alt="">
                        </a>
                    </article>
                <% } %>
            </section>

        </div>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>