<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <% if (usuarioLogueado) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

<!-- res.render('detalleUsuario', { idUsuario: ingresoId, listaAboutUsuario: result, listaPosteos:result.usuarioPosteo, usuarioLogueado: true})-->
    <main>
        <% if (idUsuario > 5) { %>
            <h2 class="sinResponder">No hay resultados para ese id elegido. Por favor elija otro</h2>
           
            <% } else {%>
            
            <div class="user-detail container">
            <section class="top main-content">
                    <img class="profile" src="<%= listaAboutUsuario.fotoPerfil %>" alt="<%= listaAboutUsuario.nombre %>">
                    <div class="info-usuario">
                        <h1><%=listaAboutUsuario.nombre %></h1> 
                        <a class="follow" href="">seguir</a>
                        <ul class="meta"> <!--COMO HAGO PARA QUE CAMBIE-->
                            <li><%= listaPosteos.length %> posts</li>
                            <li>200 seguidores</li>
                            <li>300 seguidos</li>
                        </ul>
                    </div>
            </section>
            <section class="bottom">
                <% for (let i = 0; i < listaPosteos.length; i++) { %>
                    <article class="post">
                        <a href="/posts/detallePost/id/<%=listaPosteos[i].id %>">
                            <img src="<%=listaPosteos[i].nombreImg%>" alt="Posteo">
                        </a>
                    </article>
                <% } %>
            </section>
         </div>
        <% } %>

    </main>

    <%- include('./partials/footer') %>
</body>

</html>