<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <!--NO APARECE LA CANTIDAD DE POSTEOS QUE HACE EL USUARIO, VER EL CONTROLLER A VER SI CAMPUTURA BIEN LA LISTA DE POSTEOS-->
    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <% for( let i = 0; i < listaAboutUsuario.length; i++ ) { %>
                    <img class="profile" src="<%= listaAboutUsuario[i].fotoPerfil %>" alt="<%= listaAboutUsuario[i].email %>">
                    <div class="info-usuario">
                        <p><%=listaAboutUsuario[i].email %></p> 
                        <a class="follow" href="">seguir</a>
                        <ul class="meta"> <!--COMO HAGO PARA QUE CAMBIE-->
                            <li><%= listaPosteos.length %> posts</li>
                            <li>200 seguidores</li>
                            <li>300 seguidos</li>
                        </ul>
                    </div>
                <% } %>
            </section>
            <section class="bottom">
                <% for (let j = 0; j < listaPosteos.length; j++) { %>
                    <article class="post">
                        <a href="/posts/detallePost/id/<%=listaPosteos[j].idUsuario %>">
                            <img src="https://via.placeholder.com/200x250" alt="">
                        </a>
                    </article>
                <% } %>
            </section>

        </div>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>