<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>
    
    <main>
        <section class="center main-content">
        <h1>Editar perfil <%= datos.id %></h1>

        <form class = "form" action="/users/editarPerfil/id/<%= datos.id%>"  method="POST">

            <label for="nombre">Nombre:</label><input id="nombre" type="text" name="nombre" value="<%= datos.nombre %>" placeholder="Ingrese su nombre" required>

            <label for="email">Email:</label><input id="email" type="email" name="email" value="<%= datos.email %>"  placeholder="Ingrese su email" required>

            <label for="clave">Clave:</label><input id= "clave" type="password" name="clave" value=""  placeholder="Ingrese su clave" >

            <label for="fotoPerfil">Foto de perfil:</label><input id="fotoPerfil" type="text" name="fotoPerfil" value="<%= datos.fotoPerfil %>" placeholder="Suba su foto de perfil">

            <label for="fecha">Fecha de nacimiento:</label><input id="fecha" type="date" name="fecha" value="<%= datos.fecha %>" placeholder="Ingrese su fecha de cumpleaños">

            <label for="dni">DNI:</label><input id="dni" type="number" name="dni" value="<%= datos.dni %>"  placeholder="Ingrese su DNI" required>
            
            <button type="submit">Enviar</button>
        </form>
    </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>