<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    
    <!--luego de modificar session y cookies cambiar con ej: local.user != undefined -->
    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

    <main>
        <section class="center main-content">
        <h1> editar Post</h1>

        <form class="form" action="/posts/add/<%= posteo.id %>" method="POST">
            <label for="nombreImg">URL: </label> <input id="nombreImg" type="text" name="nombreImg" value="<%= posteo.nombreImg %>" required placeholder="Ingrese la ruta absoluta">

            <label for = "descripcionImg">Descripción del posteo: </label><input id="descripcionImg" type="text" name ="descripcionImg" value="<%= posteo.descripcionImg %>" placeholder="Descripción de tu post">

            <button type="submit">Enviar</button>
        </form>
        
        </section>
    </main>

<%- include('./partials/footer') %>

</body>

</html>