<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
            <% for( let i = 0; i < listaUsuarios.length; i++ ) { %>
              <article class="post">
                <div class="info-usuario ">
                  <!--ENLACE PARA MOSTRAR PERFIL-->
                  <img src="<%= listaUsuarios[i].fotoPerfil %>" alt="">

                    <h4> <!--Para cuando se toque el perfil del ususario en inicio se diriga al mismo-->
                      <a href="/users/detalleUsuario/id/<%= listaUsuarios[i].id %>"><%= listaUsuarios[i].email %></a>
                    </h4>
                </div>
                <div class="post-body">
                    <a href="detallePost.html">
                        <img src="https://via.placeholder.com/500x600" alt="">
                    </a>
                </div>
                <ul class="post-reacciones">
                    <li>
                        <i class="fa-regular fa-heart"></i>
                    </li>
                    <li>
                        <i class="fa-regular fa-comment"></i>
                    </li>
                </ul>
                <div class="post-comentarios">
                   <h4>Comentarios</h4>
                    <ul>
                      <!-- Aquí puedes iterar y mostrar los comentarios del usuario si los tienes en tus datos -->
                    <% for( let index = 0; index < listaPosteos[i].comentarios.length; index++ ) { %>
                      <li><a href="/users/detalleUsuario/id/<%= listaPosteos[i].comentarios[index].idUsuario %>"><%= listaUsuarios[index].email%></a>
                        <span><%= listaPosteos[i].comentarios[index].comentario %></span>
                      <% } %>
                      <a href="detallePost.html">Ver más...</a>
                    </ul>
                </div>
            </article>
            <% } %>
          
           
        </section>    
    </main>

    <%- include('./partials/footer') %>


</body>

</html>