<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <% if (locals.user!=undefined ) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

    <main>
        <section class="center main-content">
        <h1 >Login</h1>
        <form class="form" action="/login" method="post">
            

            
            <label for="email" > Email: </label> <input id = "email" type="email" name="email" value="" placeholder="Ingrese su email" required>
            <!--Probar con email: pepito@gmail.com|sab@gmail.com-->
            <label for="clave" > Clave: </label> <input id = "clave" type = "password" name = "clave" value= "" placeholder="Clave" required> 
            <!--Probar con clave: 12345 |sabrina-->
            
            <% if (locals.errors) { %> <!--Muestra si hay un error de validación-->

                <p class="msjError"><%= locals.errors.message %></p>
            <% } %>
            
            <div class="login-recuerdame">
                <span for="rememberMe">Recuerdame</span>
                <input type="checkbox" name="rememberMe" id="rememberMe">
            </div>

            <button class="button button-login" type="submit"> Enviar </button>

           
        </form>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>