<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <% if (usuarioLogueado) { %>
            <%- include('./partials/headerLogueado') %>
        <% } else { %>
            <%- include('./partials/header') %>
        <% } %>
        
            <main>
                <div class="user-detail container">
                    <section class="top main-content">
                        <img class="profile" src="/img/fran.png" alt="">
                            <div class="info-usuario">
                                <h1><%=listaAboutUsuario.nombre %></h1> 
                                <a class="follow" href="/users/editarPerfil/id/<%= listaAboutUsuario.id %>"><i class="fa-solid fa-user-gear"></i></a>
                                <ul class="meta"> <!--cantidad postos no puede cambiar-->
                                    <li>2 posts</li>
                                    <li>200 seguidores</li>
                                    <li>300 seguidos</li>
                                </ul>
                                <p>Email: <%=  listaAboutUsuario.email %> </p>
                                <p>DNI: <%= listaAboutUsuario.dni %> </p>

                            </div>
                    </section>
                    <section class="bottom">
                       
                                </a>
                            </article>
                    </section>
                </div>
            </main>

            <%- include('./partials/footer') %>
    </body>

</html>