<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <% if (locals.user != undefined) { %>
            <%- include('./partials/headerLogueado') %>
            <main>
                <div class="user-detail container">
                    <section class="top main-content">
                        <img class="profile" 
                        src=<%=locals.user.fotoPerfil %> alt="Foto de perfil"> <!--listaAboutUsuario-->
                            <div class="info-usuario">
                                <h1><%=user.nombre %></h1> <!--listaAboutUsuario-->

                                <% if (locals.user !=undefined && idUser == user.id) { %>
                                    <a class="follow" href="/users/editarPerfil/id/<%= user.id %>"><i class="fa-solid fa-user-gear"></i></a>
                                <% } %>
                                
                                <ul class="meta"> <!--cantidad postos no puede cambiar-->
                                    <li><%=listaPosteos.length %> posteos</li>
                                    <li>200 seguidores</li>
                                    <li>300 seguidos</li>
                                </ul>
                                <p>Email: <%=  user.email %> </p>
                                <p>DNI: <%= user.dni %> </p>

                            </div>
                    </section>
                    <section class="bottom">
                        <% for (let j = 0; j< listaPosteos.length ; j++) { %>
                            <article class="post">
                                <a href="/posts/detallePost/id/<%=listaPosteos[j].id %>">
                                    <img src="<%= listaPosteos[j].nombreImg %>" alt="">

                                </a>
                            </article>
                        <% } %>
                    </section>
                </div>
            </main>
            <%- include('./partials/footer') %>

        <% } else { %>
            <%- include('./partials/header') %>
        <% } %>

    </body>

</html>