<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

    <body>
        <% if (locals.user != undefined) { %>
            <%- include('./partials/headerLogueado') %>
        <% } else { %>
            <%- include('./partials/header') %>
        <% } %>
        
    <main>

        <section class="center main-content">
        <h1>Resultados de búsqueda: "<%= criterio %>"</h1>

        <!-- Construir la vista -->
        <% for( let i = 0; i < dataCompleta.length; i++ ) { %>
            <article class="post">
                <div class="info-usuario ">
                  <img class= "profile" src="<%= dataCompleta[i].posteoUsuario.fotoPerfil %>" alt="<%= dataCompleta[i].posteoUsuario.nombre%>">

                    <h4> 
                      <a href="/users/detalleUsuario/id/<%= dataCompleta[i].usuarioPosteo.idUsuario %>"><%= dataCompleta[i].posteoUsuario.nombre%></a>
                    </h4>
                </div>
                

            </article>

            <% } %>

        </section>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>